body {
    height: 100mvh;
    margin: 0;
    padding: 0;
}
header {
    background-color: purple;
    height: 100px;
    margin: 10px;
}
main {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - (100px + 20px + 10px));
    margin: 0 10px;
}

article {
    width: 32%;
}

#one {
    background-color: red;
}
#two {
    background-color: green;
}
#three {
    background-color: orange;
}