* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    height: 100px;
    margin: 10px;
}

section {
    display: flex;
}

div {
    background-color: aquamarine;
    height:200px;
    width:32%;
    margin: 10px;
}

img {
    display: block;
    width:32%;
    aspect-ratio: 3/2;
    margin: 10px;
}